.home {
    background: url("photo/bk.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300;
    font-size: 25px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.news {
    margin-left: 200;
    margin-right: 200;
}